# ASSIGNMENT 2
## Data Types and Structures

1. What are data structures and why are they important?
  - Data structures is a structured way of storing the data in an efficient way which optimizes the space and time complexities, they are important to make the proposed solution better and faster.

2. Explain the difference between mutable and immutable data types with examples
  - Mutable : These are the datatypes whose value can be manipulated or changed and they do not share the same memory location so that the changes can take place.

  - Immutable : These are the data types whose value cannot be changed once they are declared as they contain the same memory location, changes will lead to creation of new memory location leading to an error

3. What are the main differences between lists and tuples in Python?
  - The main difference is their object mutability, lists are mutable datatypes whereas the tuples are immutable datatypes

4. Describe how dictionaries store data.
  - Dictionaries store the data in the form of a hash table using the key-value pairs technique, where each key is unique and indexed using the keys

5.  Why might you use a set instead of a list in Python?
  - I would prefer set than a list when I want to involve the operations like union, intersection etc., Also when I want unique elements only.

6. What is a string in Python, and how is it different from a list?
  - A string is a datatype which stores a sequence of the characters, also in a list we can store all types of datatypes whereas in a string we can store only the character datatype.

7. How do tuples ensure data integrity in Python?
  - Tupes ensure the data integrity by their immutable nature providing extra secuirty and protection.

8. What is a hash table and how does it relate to dictionaries in python?
  - Hash table is a datatype which works on the principle of key-value, it relates to the dictionaries in python as their data is stored and retrieved using the hash table.

9. Can lists contain different datatypes in python?
  - Yes lists can contain different datatypes in Python.

10. Explain why strings are immutable in python?
  - Strings are immutable in python, as we cannot just store a whole another string in the place of a character, as string is a sequeunce of array of characters, each char memory is only 1 byte. So they cannot be changed leading to creation of extra memory so strings are immutable.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries have lesser time complexity than lists as they work on the basis of Hash tables and have key-pair technique. Easy to retrieve the data.

12.  Describe a scenario where using a tuple would be preferable over a list
  - The situation where we want to store the GPS Coordinates(x and y) of a particular area, a tuple would be highly preferred as it cannot be manipulated.

13. How do sets handle duplicate values in Python?
  - When a duplicate values occurs in a set, it instantly removes them as sets are established to store only unique values in it.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In lists 'in' keyword is used to access every element in it to a corresponding temporary variable, whereas in dictionary using the 'in' keyword we can access all the keys but not their values.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, we cannot modify the elements of a tuple as it is a immutable datatype, changing so will lead to creation of a newer memory space leading to error!

16. What is a nested dictionary, and give an example of its use case?
  - Nested Dictionary is nothing but storing an another dictionary inside the value of a key. Use case : The real time example would be a bank consumer details in which his account number will be stored as a key, and all the details will be stored as a nessted dictionary inside the account number value.

17. Describe the time complexity of accessing elements in a dictionary?
  - The time complexity will be O(N) as the dictionaries follow hashing.

18. In what situations are lists preferred over dictionaries?
  - In situations where it does not require a key to access the data. When the data belongs to a single entity lists are preffered.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered becuase they are not kept in an ordered way as the key can be of different data types & it involves hashing so the unordereness does not make any affect on the data retrieval.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In a list data is retrieved using a linear time complexity as it has to check the list in a linear fashion to find the data which is suitable for the condition whereas the data retrieval in the dictionary is done using the hashing which will require only O(1) time complexity.

## Practical Questions

In [1]:
# Question 1
ques1 = "Akhilesh"
print(ques1)

Akhilesh

In [2]:
# Question 2
ques2 = "Hello World"
print(len(ques2))

11

In [3]:
# Question 3
ques3 = "Python Programming"
print(ques3[:3])

Pyt

In [4]:
# Question 4
ques4 = "hello"
print(ques4.upper())

HELLO

In [5]:
# Question 5
ques5 = "I like apple"
ques5.replace("apple", "orange")

'I like orange'

In [7]:
# Question 6
ques6 = []
for i in range(1,6):
  ques6.append(i)
ques6

[1, 2, 3, 4, 5]

In [9]:
# Question 7
ques7 = [1,2,3,4]
ques7.append(10)
ques7

[1, 2, 3, 4, 10]

In [11]:
# Question 8
ques8 = [1,2,3,4,5]
ques8.remove(3)
ques8

[1, 2, 4, 5]

In [13]:
# Question 9
ques9 = ['a', 'b', 'c', 'd']
ques9[1]

'b'

In [15]:
# Question 10
ques10 = [10,20,30,40,50]
ques10.reverse()
ques10

[50, 40, 30, 20, 10]

In [16]:
# Question 11
ques11 = (100,200,300)
ques11

(100, 200, 300)

In [18]:
# Question 12
ques12 = ('red', 'green', 'yellow', 'blue')
ques12[-2]

'yellow'

In [20]:
# Question 13
ques13 = (10, 20, 5, 15)
max(ques13)

20

In [22]:
# Question 14
ques14 = ('dog', 'cat', 'rabbit')
ques14.index('cat')

1

In [23]:
# Question 15
ques15 = ('apple', 'kiwi', 'guava')
if 'kiwi' in ques15:
  print('Kiwi is Available')
else:
  print('Kiwi is not Available')

Kiwi is Available

In [24]:
# Question 16
ques16 = {'a', 'b', 'c'}
print(ques16)

{'b', 'a', 'c'}

In [27]:
# Question 17
ques17 = {1,2,3,4,5}
ques17.clear()
ques17

set()

In [29]:
# Question 18
ques18 = {1,2,3,4}
ques18.remove(4)
ques18

{1, 2, 3}

In [30]:
# Question 19
ques19_1 = {1,2,3}
ques19_2 = {3,4,5}
ques19_1.union(ques19_2)

{1, 2, 3, 4, 5}

In [31]:
# Question 20
ques20_1 = {1,2,3}
ques20_2 = {3,4,5}
ques20_1.intersection(ques20_2)

{3}

In [32]:
# Question 21
ques21 = {
    "name" : "Akhilesh",
    "age" : 19,
    "city" : "Vijayawada"
}
for key in ques21:
  print(key)

name
age
city

In [36]:
# Question 22
ques22 = {
    "name" : "John",
    "age" : 25,
}

temp = {
    "country" : "usa"
}
ques22.update(temp)
ques22

{'name': 'John', 'age': 25, 'country': 'usa'}

In [37]:
# Question 23
ques23 = {
    "name" : "Alice",
    "age" : 30
}

print(ques23["name"])

Alice

In [40]:
# Question 24
ques24 = {
    "name" : "Bob",
    "age" : 22,
    "city" : "New York"
}

ques24.pop("age")
ques24

{'name': 'Bob', 'city': 'New York'}

In [42]:
# Question 25
ques25 = {
    "name" : "Alice",
    "city" : "Paris",
}

if "city" in ques25:
  print("Yes")
else:
  print("no")

Yes

In [43]:
# Question 26
ques26_1 = [1,2,3,4,5]
ques26_2 = (10,20,30,40,50)
ques26_3 = {
    10 : "Ten",
    20 : "Twntry"
}

print(ques26_1)
print(ques26_2)
print(ques26_3)

[1, 2, 3, 4, 5]
(10, 20, 30, 40, 50)
{10: 'Ten', 20: 'Twntry'}

In [44]:
# Question 27
import random
ques27 = []
for i in range(5):
  temp = random.randint(1,101)
  ques27.append(temp)
ques27.sort()
ques27

[8, 48, 55, 55, 62]

In [45]:
# Question 28
ques28 = ["Akhil", "Sailesh", "Abhinav"]
ques28[2]

'Abhinav'

In [48]:
# Question 29
ques29_1 = {
    "name1" : "Akhilesh",
    "age1" : 19
}

ques29_2 = {
    "name2" : "Sailesh",
    "age2" : 27
}

ques29_2.update(ques29_1)
ques29_2

{'name2': 'Sailesh', 'age2': 27, 'name1': 'Akhilesh', 'age1': 19}

In [49]:
# Question 30
ques30_1 = ["Akhil", "Sailesh", "Abhinav"]
ques30_2 = set(ques30_1)
print(ques30_2)

{'Sailesh', 'Akhil', 'Abhinav'}